# Tugas Besar Networking Security
## Analisis Serangan DDoS menggunakan pendekatan Machine Learning menggunakan Model RandomForestClassfier

### Kelompok 5
- 1204041 - Bryan Samperura
- 1204037 - Muhammad Safwan Suhadi

### Kelas & Prodi
- 3B - D4 Teknik Informatika

### Dosen Pengampu
- Diash Firdaus

In [1]:
import random
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans, MiniBatchKMeans
from scipy.io import arff
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, f1_score, recall_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
import seaborn as sns

In [2]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/Dataset CSV/Friday-WorkingHours-Afternoon-DDos.pcap_ISCX.csv")
df1 = pd.read_csv("/content/drive/MyDrive/Dataset CSV/Friday-WorkingHours-Afternoon-PortScan.pcap_ISCX.csv")

df.head()

,Destination Port,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,Fwd Packet Length Mean,Fwd Packet Length Std,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,54865,3,2,0,12,0,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
1,55054,109,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
2,55055,52,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
3,46236,34,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
4,54863,3,2,0,12,0,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN

In [3]:
frames = [df, df1]
dfr = pd.concat(frames).drop_duplicates().reset_index(drop=True)
dfr.head()

,Destination Port,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,Fwd Packet Length Mean,Fwd Packet Length Std,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,54865,3,2,0,12,0,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
1,55054,109,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
2,55055,52,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
3,46236,34,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
4,54863,3,2,0,12,0,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN

In [4]:
dfr.rename(columns = {' Label':'Label'}, inplace= True)
dfr.head()

,Destination Port,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,Fwd Packet Length Mean,Fwd Packet Length Std,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,54865,3,2,0,12,0,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
1,55054,109,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
2,55055,52,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
3,46236,34,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN
4,54863,3,2,0,12,0,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,BENIGN

In [5]:
dfr['Label'].value_counts()

BENIGN      216866
DDoS        128016
PortScan     90819
Name: Label, dtype: int64

In [6]:
dfr.Label = [0 if each == 'BENIGN' else 1 for each in dfr.Label]
dfr.head()

,Destination Port,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,Fwd Packet Length Mean,Fwd Packet Length Std,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,54865,3,2,0,12,0,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
1,55054,109,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
2,55055,52,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
3,46236,34,1,1,6,6,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
4,54863,3,2,0,12,0,6,6,6.0,0.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0

In [7]:
dfr['Label'].value_counts()

1    218835
0    216866
Name: Label, dtype: int64

In [8]:
print(dfr.columns)

Index([' Destination Port', ' Flow Duration', ' Total Fwd Packets',
       ' Total Backward Packets', 'Total Length of Fwd Packets',
       ' Total Length of Bwd Packets', ' Fwd Packet Length Max',
       ' Fwd Packet Length Min', ' Fwd Packet Length Mean',
       ' Fwd Packet Length Std', 'Bwd Packet Length Max',
       ' Bwd Packet Length Min', ' Bwd Packet Length Mean',
       ' Bwd Packet Length Std', 'Flow Bytes/s', ' Flow Packets/s',
       ' Flow IAT Mean', ' Flow IAT Std', ' Flow IAT Max', ' Flow IAT Min',
       'Fwd IAT Total', ' Fwd IAT Mean', ' Fwd IAT Std', ' Fwd IAT Max',
       ' Fwd IAT Min', 'Bwd IAT Total', ' Bwd IAT Mean', ' Bwd IAT Std',
       ' Bwd IAT Max', ' Bwd IAT Min', 'Fwd PSH Flags', ' Bwd PSH Flags',
       ' Fwd URG Flags', ' Bwd URG Flags', ' Fwd Header Length',
       ' Bwd Header Length', 'Fwd Packets/s', ' Bwd Packets/s',
       ' Min Packet Length', ' Max Packet Length', ' Packet Length Mean',
       ' Packet Length Std', ' Packet Length Variance', 'FIN Flag Count',
       ' SYN Flag Count', ' RST Flag Count', ' PSH Flag Count',
       ' ACK Flag Count', ' URG Flag Count', ' CWE Flag Count',
       ' ECE Flag Count', ' Down/Up Ratio', ' Average Packet Size',
       ' Avg Fwd Segment Size', ' Avg Bwd Segment Size',
       ' Fwd Header Length.1', 'Fwd Avg Bytes/Bulk', ' Fwd Avg Packets/Bulk',
       ' Fwd Avg Bulk Rate', ' Bwd Avg Bytes/Bulk', ' Bwd Avg Packets/Bulk',
       'Bwd Avg Bulk Rate', 'Subflow Fwd Packets', ' Subflow Fwd Bytes',
       ' Subflow Bwd Packets', ' Subflow Bwd Bytes', 'Init_Win_bytes_forward',
       ' Init_Win_bytes_backward', ' act_data_pkt_fwd',
       ' min_seg_size_forward', 'Active Mean', ' Active Std', ' Active Max',
       ' Active Min', 'Idle Mean', ' Idle Std', ' Idle Max', ' Idle Min',
       'Label'],
      dtype='object')

In [9]:
X1 = dfr [[' Destination Port', ' Flow Duration', ' Total Fwd Packets',
       ' Total Backward Packets', 'Total Length of Fwd Packets',
       ' Total Length of Bwd Packets', ' Fwd Packet Length Max',
       ' Fwd Packet Length Min', ' Fwd Packet Length Mean',
       ' Fwd Packet Length Std', 'Bwd Packet Length Max',
       ' Bwd Packet Length Min', ' Bwd Packet Length Mean',
       ' Bwd Packet Length Std', 'Flow Bytes/s', ' Flow Packets/s',
       ' Flow IAT Mean', ' Flow IAT Std', ' Flow IAT Max', ' Flow IAT Min',
       'Fwd IAT Total', ' Fwd IAT Mean', ' Fwd IAT Std', ' Fwd IAT Max',
       ' Fwd IAT Min', 'Bwd IAT Total', ' Bwd IAT Mean', ' Bwd IAT Std',
       ' Bwd IAT Max', ' Bwd IAT Min', 'Fwd PSH Flags', ' Bwd PSH Flags',
       ' Fwd URG Flags', ' Bwd URG Flags', ' Fwd Header Length',
       ' Bwd Header Length', 'Fwd Packets/s', ' Bwd Packets/s',
       ' Min Packet Length', ' Max Packet Length', ' Packet Length Mean',
       ' Packet Length Std', ' Packet Length Variance', 'FIN Flag Count',
       ' SYN Flag Count', ' RST Flag Count', ' PSH Flag Count',
       ' ACK Flag Count', ' URG Flag Count', ' CWE Flag Count',
       ' ECE Flag Count', ' Down/Up Ratio', ' Average Packet Size',
       ' Avg Fwd Segment Size', ' Avg Bwd Segment Size',
       ' Fwd Header Length.1', 'Fwd Avg Bytes/Bulk', ' Fwd Avg Packets/Bulk',
       ' Fwd Avg Bulk Rate', ' Bwd Avg Bytes/Bulk', ' Bwd Avg Packets/Bulk',
       'Bwd Avg Bulk Rate', 'Subflow Fwd Packets', ' Subflow Fwd Bytes',
       ' Subflow Bwd Packets', ' Subflow Bwd Bytes', 'Init_Win_bytes_forward',
       ' Init_Win_bytes_backward', ' act_data_pkt_fwd',
       ' min_seg_size_forward', 'Active Mean', ' Active Std', ' Active Max',
       ' Active Min', 'Idle Mean', ' Idle Std', ' Idle Max', ' Idle Min']]

In [10]:
le = preprocessing.LabelEncoder()
X1 = dfr.apply(le.fit_transform)
X1

,Destination Port,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,Fwd Packet Length Mean,Fwd Packet Length Std,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,22254,7,1,0,6,0,3,3,58,0,...,2,0,0,0,0,0,0,0,0,0
1,22443,113,0,1,3,4,3,3,58,0,...,2,0,0,0,0,0,0,0,0,0
2,22444,56,0,1,3,4,3,3,58,0,...,2,0,0,0,0,0,0,0,0,0
3,16434,38,0,1,3,4,3,3,58,0,...,2,0,0,0,0,0,0,0,0,0
4,22252,7,1,0,6,0,3,3,58,0,...,2,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435696,77,52985,48,57,1311,12640,543,0,1747,7482,...,2,0,0,0,0,0,0,0,0,0
435697,77,62903,48,59,1305,12610,543,0,1729,7487,...,2,0,0,0,0,0,0,0,0,0
435698,77,49369,69,103,1407,13466,543,0,953,5597,...,2,0,0,0,0,0,0,0,0,0
435699,77,46849,49,62,1311,12703,543,0,1674,7349,...,2,0,0,0,0,0,0,0,0,0
435700,77,52055,45,57,1299,12556,543,0,1959,7931,...,2,0,0,0,0,0,0,0,0,0

In [11]:
Y1 = dfr['Label'].values
Y1[0:5]

array([0, 0, 0, 0, 0])

In [12]:
X2 = preprocessing.StandardScaler().fit(X1).transform(X1.astype('float64'))
X2[0:2]

array([[ 2.51440244, -0.88143852, -0.20057556, -0.26285364, -0.30711789,
        -0.58044946, -0.30391786, -0.25547648, -0.53269851, -0.34090786,
        -0.59592856, -0.44433051, -0.62499943, -0.56990927,  1.19315015,
         0.92547509, -0.9313605 , -0.89312505, -0.91297255, -0.26228697,
        -0.687123  , -0.66649361, -0.64945761, -0.68349172, -0.2277354 ,
        -0.62099489, -0.61112647, -0.60208498, -0.61714619, -0.17734342,
        -0.17782979,  0.        ,  0.        ,  0.        , -0.29483567,
        -0.32881138,  0.92067186, -1.52185897, -0.26826667, -0.65318165,
        -0.69057015, -0.68115847, -0.68115292, -0.06171171, -0.17782979,
        -0.01049664, -0.92298609,  1.40315354, -0.33555986,  0.        ,
        -0.01049664, -0.84900556, -0.69883123, -0.53269851, -0.62499943,
        -0.29483567,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        , -0.20057556, -0.30711789, -0.26285364,
        -0.58044946, -0.96873916, -0.34610577, -0.18364699, -0.70431799,
        -0.36278721, -0.18469984, -0.36195663, -0.36156414, -0.5000531 ,
        -0.27307937, -0.50768759, -0.48575912, -1.00452941],
       [ 2.53948273, -0.88008654, -0.28207668, -0.20110066, -0.30975399,
        -0.57919475, -0.30391786, -0.25547648, -0.53269851, -0.34090786,
        -0.59266572, -0.37487317, -0.62121973, -0.56990927,  0.84913968,
         0.91904982, -0.92307665, -0.89312505, -0.91143499, -0.23200602,
        -0.68719976, -0.66724052, -0.64945761, -0.68356905, -0.22888499,
        -0.62099489, -0.61112647, -0.60208498, -0.61714619, -0.17734342,
        -0.17782979,  0.        ,  0.        ,  0.        , -0.37105794,
        -0.31268368,  0.91316375,  1.00794078, -0.26826667, -0.65318165,
        -0.69057015, -0.68115847, -0.68115292, -0.06171171, -0.17782979,
        -0.01049664, -0.92298609,  1.40315354,  2.98009422,  0.        ,
        -0.01049664,  0.0807968 , -0.69883123, -0.53269851, -0.62121973,
        -0.37105794,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        , -0.28207668, -0.30975399, -0.20110066,
        -0.57919475, -0.97232434,  0.11109557, -0.28983552, -0.70431799,
        -0.36278721, -0.18469984, -0.36195663, -0.36156414, -0.5000531 ,
        -0.27307937, -0.50768759, -0.48575912, -1.00452941]])

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X2, Y1, test_size=0.2, random_state=0)
print('Train set: ', X_train.shape, Y_train.shape)
print('Test set: ', X_test.shape, Y_test.shape)

Train set:  (348560, 79) (348560,)
Test set:  (87141, 79) (87141,)

In [14]:
model = RandomForestClassifier(n_estimators=5)
model.fit(X_train, Y_train)
y_val_pred=model.predict(X_test)
y_val_pred=pd.DataFrame(y_val_pred)
print("Akurasi Skor :", (accuracy_score(y_val_pred,Y_test)*100,"%"))

Akurasi Skor : (99.99540973824033, '%')

# Dataset Realtime Serangan Normal & Serangan DDoS
 - Pendekatan Model Machine Learning dengan algoritma Random Forest
 - Dataset Serangan Normal & Serangan DDoS selama 3 Menit
 - Data Realtime dengan menggunakan TCPDump dengan Tools extract CICFLOWMETER
 - Menggunakan Topologi 5 Host, 1 Switch, dengan masing masing Bandwith 10 mbps
 - Melakukan pendekatan data untuk mencari Algoritma terbaik menggunakan Dataaset CICIDS2017

# Membaca Dataset CSV

In [15]:
df_s = pd.read_csv("/content/drive/MyDrive/Dataset/serangan.pcap_Flow.csv")
df_n = pd.read_csv("/content/drive/MyDrive/Dataset/normal_ping.pcap_Flow.csv")

df_s.head()

,Flow ID,Src IP,Src Port,Dst IP,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,8.0.6.4-8.6.0.1-0-0-0,8.6.0.1,0,8.0.6.4,0,0,12/12/2022 10:30:51 PM,111500359,50,1,...,0,4.286950e+06,3.978168e+06,8772096.0,176.0,1.421200e+07,5.206479e+06,21432639.0,7956556.0,No Label
1,10.0.0.1-10.0.0.5-14391-80-6,10.0.0.1,14391,10.0.0.5,80,6,12/12/2022 10:30:58 PM,19,0,2,...,0,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,No Label
2,10.0.0.1-10.0.0.5-14392-80-6,10.0.0.1,14392,10.0.0.5,80,6,12/12/2022 10:30:58 PM,40,0,2,...,0,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,No Label
3,10.0.0.1-10.0.0.5-14393-80-6,10.0.0.1,14393,10.0.0.5,80,6,12/12/2022 10:30:58 PM,43,0,2,...,0,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,No Label
4,10.0.0.1-10.0.0.5-14394-80-6,10.0.0.1,14394,10.0.0.5,80,6,12/12/2022 10:30:58 PM,16,0,2,...,0,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,No Label

# Melakukan Analisis Dataset & Merger
 - No Label pada Serangan Normal dibuat menjadi 0
 - No Label pada serangan DDoS dibuat menjadi 1
 - Lalu melakukan pengabungan Dataset

In [16]:
df_s['Label'].value_counts()

No Label    162916
Name: Label, dtype: int64

In [17]:
df_s.Label = [0 if each == 'No_Label' else 1 for each in df_s.Label]
df_s.head()

,Flow ID,Src IP,Src Port,Dst IP,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,8.0.6.4-8.6.0.1-0-0-0,8.6.0.1,0,8.0.6.4,0,0,12/12/2022 10:30:51 PM,111500359,50,1,...,0,4.286950e+06,3.978168e+06,8772096.0,176.0,1.421200e+07,5.206479e+06,21432639.0,7956556.0,1
1,10.0.0.1-10.0.0.5-14391-80-6,10.0.0.1,14391,10.0.0.5,80,6,12/12/2022 10:30:58 PM,19,0,2,...,0,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,1
2,10.0.0.1-10.0.0.5-14392-80-6,10.0.0.1,14392,10.0.0.5,80,6,12/12/2022 10:30:58 PM,40,0,2,...,0,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,1
3,10.0.0.1-10.0.0.5-14393-80-6,10.0.0.1,14393,10.0.0.5,80,6,12/12/2022 10:30:58 PM,43,0,2,...,0,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,1
4,10.0.0.1-10.0.0.5-14394-80-6,10.0.0.1,14394,10.0.0.5,80,6,12/12/2022 10:30:58 PM,16,0,2,...,0,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,1

In [18]:
df_n.Label = [1 if each == 'No_Label' else 0 for each in df_n.Label]
df_n.head()

,Flow ID,Src IP,Src Port,Dst IP,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,10.0.0.1-10.0.0.5-0-0-0,10.0.0.1,0,10.0.0.5,0,0,12/12/2022 10:43:23 PM,44032469,43,45,...,0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0
1,10.0.0.3-10.0.0.5-0-0-0,10.0.0.3,0,10.0.0.5,0,0,12/12/2022 10:43:29 PM,33792215,33,35,...,0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0
2,8.0.6.4-8.6.0.1-0-0-0,8.6.0.1,0,8.0.6.4,0,0,12/12/2022 10:43:34 PM,33280248,7,1,...,0,1535872.0,2.659968e+06,4607338.0,139.0,9557544.0,4.414673e+06,14336668.0,5631976.0,0
3,10.0.0.1-10.0.0.5-0-0-0,10.0.0.1,0,10.0.0.5,0,0,12/12/2022 10:39:22 PM,119750019,117,119,...,0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0
4,10.0.0.3-10.0.0.5-0-0-0,10.0.0.3,0,10.0.0.5,0,0,12/12/2022 10:39:27 PM,119775223,117,119,...,0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0

In [19]:
frames = [df_s, df_n]
dfa = pd.concat(frames).drop_duplicates().reset_index(drop=True)
dfa.head()

,Flow ID,Src IP,Src Port,Dst IP,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,8.0.6.4-8.6.0.1-0-0-0,8.6.0.1,0,8.0.6.4,0,0,12/12/2022 10:30:51 PM,111500359,50,1,...,0,4.286950e+06,3.978168e+06,8772096.0,176.0,1.421200e+07,5.206479e+06,21432639.0,7956556.0,1
1,10.0.0.1-10.0.0.5-14391-80-6,10.0.0.1,14391,10.0.0.5,80,6,12/12/2022 10:30:58 PM,19,0,2,...,0,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,1
2,10.0.0.1-10.0.0.5-14392-80-6,10.0.0.1,14392,10.0.0.5,80,6,12/12/2022 10:30:58 PM,40,0,2,...,0,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,1
3,10.0.0.1-10.0.0.5-14393-80-6,10.0.0.1,14393,10.0.0.5,80,6,12/12/2022 10:30:58 PM,43,0,2,...,0,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,1
4,10.0.0.1-10.0.0.5-14394-80-6,10.0.0.1,14394,10.0.0.5,80,6,12/12/2022 10:30:58 PM,16,0,2,...,0,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0,1

In [20]:
dfa['Label'].value_counts()

1    162916
0         9
Name: Label, dtype: int64

# Menentukan Input & Output
- Tentukan Input pada Dataset yang akan di Train & Test
- Tentukan Output pada Dataset yang akan di Train & Test
- Merubah Dataset menjadi Normal

In [21]:
print(dfa.columns)

Index(['Flow ID', 'Src IP', 'Src Port', 'Dst IP', 'Dst Port', 'Protocol',
       'Timestamp', 'Flow Duration', 'Tot Fwd Pkts', 'Tot Bwd Pkts',
       'TotLen Fwd Pkts', 'TotLen Bwd Pkts', 'Fwd Pkt Len Max',
       'Fwd Pkt Len Min', 'Fwd Pkt Len Mean', 'Fwd Pkt Len Std',
       'Bwd Pkt Len Max', 'Bwd Pkt Len Min', 'Bwd Pkt Len Mean',
       'Bwd Pkt Len Std', 'Flow Byts/s', 'Flow Pkts/s', 'Flow IAT Mean',
       'Flow IAT Std', 'Flow IAT Max', 'Flow IAT Min', 'Fwd IAT Tot',
       'Fwd IAT Mean', 'Fwd IAT Std', 'Fwd IAT Max', 'Fwd IAT Min',
       'Bwd IAT Tot', 'Bwd IAT Mean', 'Bwd IAT Std', 'Bwd IAT Max',
       'Bwd IAT Min', 'Fwd PSH Flags', 'Bwd PSH Flags', 'Fwd URG Flags',
       'Bwd URG Flags', 'Fwd Header Len', 'Bwd Header Len', 'Fwd Pkts/s',
       'Bwd Pkts/s', 'Pkt Len Min', 'Pkt Len Max', 'Pkt Len Mean',
       'Pkt Len Std', 'Pkt Len Var', 'FIN Flag Cnt', 'SYN Flag Cnt',
       'RST Flag Cnt', 'PSH Flag Cnt', 'ACK Flag Cnt', 'URG Flag Cnt',
       'CWE Flag Count', 'ECE Flag Cnt', 'Down/Up Ratio', 'Pkt Size Avg',
       'Fwd Seg Size Avg', 'Bwd Seg Size Avg', 'Fwd Byts/b Avg',
       'Fwd Pkts/b Avg', 'Fwd Blk Rate Avg', 'Bwd Byts/b Avg',
       'Bwd Pkts/b Avg', 'Bwd Blk Rate Avg', 'Subflow Fwd Pkts',
       'Subflow Fwd Byts', 'Subflow Bwd Pkts', 'Subflow Bwd Byts',
       'Init Fwd Win Byts', 'Init Bwd Win Byts', 'Fwd Act Data Pkts',
       'Fwd Seg Size Min', 'Active Mean', 'Active Std', 'Active Max',
       'Active Min', 'Idle Mean', 'Idle Std', 'Idle Max', 'Idle Min', 'Label'],
      dtype='object')

In [22]:
X1 = dfa [['Flow ID', 'Src IP', 'Src Port', 'Dst IP', 'Dst Port', 'Protocol',
       'Timestamp', 'Flow Duration', 'Tot Fwd Pkts', 'Tot Bwd Pkts',
       'TotLen Fwd Pkts', 'TotLen Bwd Pkts', 'Fwd Pkt Len Max',
       'Fwd Pkt Len Min', 'Fwd Pkt Len Mean', 'Fwd Pkt Len Std',
       'Bwd Pkt Len Max', 'Bwd Pkt Len Min', 'Bwd Pkt Len Mean',
       'Bwd Pkt Len Std', 'Flow Byts/s', 'Flow Pkts/s', 'Flow IAT Mean',
       'Flow IAT Std', 'Flow IAT Max', 'Flow IAT Min', 'Fwd IAT Tot',
       'Fwd IAT Mean', 'Fwd IAT Std', 'Fwd IAT Max', 'Fwd IAT Min',
       'Bwd IAT Tot', 'Bwd IAT Mean', 'Bwd IAT Std', 'Bwd IAT Max',
       'Bwd IAT Min', 'Fwd PSH Flags', 'Bwd PSH Flags', 'Fwd URG Flags',
       'Bwd URG Flags', 'Fwd Header Len', 'Bwd Header Len', 'Fwd Pkts/s',
       'Bwd Pkts/s', 'Pkt Len Min', 'Pkt Len Max', 'Pkt Len Mean',
       'Pkt Len Std', 'Pkt Len Var', 'FIN Flag Cnt', 'SYN Flag Cnt',
       'RST Flag Cnt', 'PSH Flag Cnt', 'ACK Flag Cnt', 'URG Flag Cnt',
       'CWE Flag Count', 'ECE Flag Cnt', 'Down/Up Ratio', 'Pkt Size Avg',
       'Fwd Seg Size Avg', 'Bwd Seg Size Avg', 'Fwd Byts/b Avg',
       'Fwd Pkts/b Avg', 'Fwd Blk Rate Avg', 'Bwd Byts/b Avg',
       'Bwd Pkts/b Avg', 'Bwd Blk Rate Avg', 'Subflow Fwd Pkts',
       'Subflow Fwd Byts', 'Subflow Bwd Pkts', 'Subflow Bwd Byts',
       'Init Fwd Win Byts', 'Init Bwd Win Byts', 'Fwd Act Data Pkts',
       'Fwd Seg Size Min', 'Active Mean', 'Active Std', 'Active Max',
       'Active Min', 'Idle Mean', 'Idle Std', 'Idle Max', 'Idle Min']]

In [23]:
le = preprocessing.LabelEncoder()
X1 = dfa.apply(le.fit_transform)
X1

,Flow ID,Src IP,Src Port,Dst IP,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,112194,2,0,1,0,0,5,8126,7,0,...,0,267,4,265,139,6,5,5,6,1
1,4787,0,14249,0,1,1,12,15,0,1,...,0,0,0,0,0,0,0,0,0,1
2,4788,0,14250,0,1,1,12,36,0,1,...,0,0,0,0,0,0,0,0,0,1
3,4789,0,14251,0,1,1,12,39,0,1,...,0,0,0,0,0,0,0,0,0,1
4,4790,0,14252,0,1,1,12,12,0,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162920,57049,1,0,0,0,0,342,9453,9,5,...,0,0,0,0,0,0,0,0,0,0
162921,112194,2,0,1,0,0,342,9259,3,0,...,0,263,1,264,4,5,6,6,2,0
162922,0,0,0,0,0,0,343,9458,9,5,...,0,0,0,0,0,0,0,0,0,0
162923,57049,1,0,0,0,0,344,9457,9,5,...,0,0,0,0,0,0,0,0,0,0
162924,112194,2,0,1,0,0,345,9014,3,0,...,0,265,3,266,4,2,4,4,3,0

In [24]:
Y1 = dfa['Label'].values
Y1[0:5]

array([1, 1, 1, 1, 1])

In [25]:
X2 = preprocessing.StandardScaler().fit(X1).transform(X1.astype('float64'))
X2[0:2]

array([[ 1.76069293e+00,  3.04893507e+00, -1.70064109e+00,
         1.64782179e+02, -1.16516451e+02, -1.16516451e+02,
        -1.58778226e+00,  6.07558481e+00,  3.11751233e+01,
        -4.84022808e+00, -2.26626682e-01, -1.16516451e+02,
        -2.26626682e-01, -2.26626682e-01, -2.26626682e-01,
         0.00000000e+00, -1.16516451e+02,  0.00000000e+00,
        -9.02386144e+00, -9.02386144e+00, -7.12121963e+00,
        -9.78046891e-01,  9.78046218e-01, -1.86145991e-01,
         9.80384564e-01, -3.82485893e-01,  7.91549503e+01,
         1.42484974e+02,  1.42484974e+02,  1.74149986e+02,
        -1.79338785e+01, -2.37631442e-01, -2.37632268e-01,
        -1.94721707e-01, -2.37719621e-01, -3.78237984e-01,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00, -2.26626682e-01, -4.86122753e+00,
         7.74391486e+00, -7.12740144e+00,  0.00000000e+00,
        -1.16516451e+02, -9.02386144e+00, -9.02386144e+00,
        -9.02386144e+00,  0.00000000e+00, -1.16516451e+02,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        -2.26694036e-01, -9.02386144e+00, -2.26626682e-01,
        -9.02386144e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  3.11751233e+01, -2.26626682e-01,
        -4.84022808e+00, -1.16516451e+02,  0.00000000e+00,
        -1.16516451e+02, -2.26626682e-01,  0.00000000e+00,
         3.70537267e+01,  1.69248810e+02,  3.67754592e+01,
         1.94765330e+01, -1.88667345e-01,  2.11562376e+02,
        -1.89677927e-01, -1.88667345e-01,  7.43257646e-03],
       [-1.51891888e+00, -9.54738142e-01, -9.13708985e-01,
        -6.06861739e-03,  8.58247906e-03,  8.58247906e-03,
        -1.52487879e+00, -2.25251547e-01, -2.21141361e-01,
        -2.25840869e-01, -2.26626682e-01,  8.58247906e-03,
        -2.26626682e-01, -2.26626682e-01, -2.26626682e-01,
         0.00000000e+00,  8.58247906e-03,  0.00000000e+00,
         2.26627759e-01,  2.26627759e-01,  2.25251228e-01,
         2.25252904e-01, -2.25253218e-01, -1.95156851e-01,
        -2.25268523e-01, -2.17742095e-01, -7.57977885e-03,
        -7.57977885e-03, -7.57977885e-03, -7.57977885e-03,
        -7.15198540e-03, -2.25190584e-01, -2.25191433e-01,
        -1.94721707e-01, -2.25226976e-01, -2.18083627e-01,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00, -2.26626682e-01, -2.26088389e-01,
        -1.95234689e-01,  2.25251799e-01,  0.00000000e+00,
         8.58247906e-03,  2.26627759e-01,  2.26627759e-01,
         2.26627759e-01,  0.00000000e+00,  8.58247906e-03,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        -2.26694036e-01,  2.26627759e-01, -2.26626682e-01,
         2.26627759e-01,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00, -2.21141361e-01, -2.26626682e-01,
        -2.25840869e-01,  8.58247906e-03,  0.00000000e+00,
         8.58247906e-03, -2.26626682e-01,  0.00000000e+00,
        -9.49867041e-02, -5.45395051e-03, -9.49867041e-02,
        -9.54844062e-02, -1.94730838e-01, -5.45395051e-03,
        -1.94730838e-01, -1.94730838e-01,  7.43257646e-03]])

# Train & Test Dataset

- Melakukan Train dan Test dari 20% yang ditest dan 80% yang ditrain
- Menentukan Model Machine Learning
- Mendapatkan Akurasi Skor Dataset

In [26]:
X_train, X_test, Y_train, Y_test = train_test_split(X2, Y1, test_size=0.2, random_state=0)
print('Train set: ', X_train.shape, Y_train.shape)
print('Test set: ', X_test.shape, Y_test.shape)

Train set:  (130340, 84) (130340,)
Test set:  (32585, 84) (32585,)

In [27]:
model = RandomForestClassifier(n_estimators=5)
model.fit(X_train, Y_train)
y_val_pred=model.predict(X_test)
y_val_pred=pd.DataFrame(y_val_pred)
print("Akurasi Skor :", (accuracy_score(y_val_pred,Y_test)*100,"%"))

Akurasi Skor : (100.0, '%')

# Kesimpulan
- Algoritma yang dipilih adalah RandomForestClassifier karena akurasinya 100%